[Unit]
Description=IDS Service
After=network.target

[Service]
ExecStart=/usr/bin/python3.11 /home/www/scripts/ids/ids.py
WorkingDirectory=/home/www/scripts/ids
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target