[Unit]
Description=Proteção de Carga do Servidor
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.11 /home/www/scripts/ids/tools/ldp.py
WorkingDirectory=/home/www/scripts/ids/tools/
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
